<h1> Enter the amount of coffee you drink per day </h1>
  <%= simple_form_for @user do |f| %>
    <%= f.input :name %>
    <%= f.input :age %>
    <%= f.input :number_of_coffee %>
    <%= f.submit 'submit' %>
  <% end %>

